<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views il n y a aucun potin pour l instant !</h1>
    <a href="/gossips/new/">va ici pour creer des potins</a>
  </body>
</html>
